<%= turbo_frame_tag 'remote_modal' do %>
  <div class="modal modal-blur" data-controller="remote-modal" data-turbo-path="<%= @turbo_path %>" data-bs-backdrop="<%= backdrop %>">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title"><%= title %></h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>