<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= product.stock %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product.status %>
  </p>

  <p>
    <strong>Sale start date:</strong>
    <%= product.sale_start_date %>
  </p>

  <p>
    <strong>Sale end date:</strong>
    <%= product.sale_end_date %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= product.memo %>
  </p>

</div>
