<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-light">
  <header>
    <div class="py-2 text-bg-dark border-bottom">
      <div class="container-fluid">
        MyAdmin
      </div>
    </div>
  </header>
  <%= yield %>
  <%= turbo_frame_tag 'remote_modal' %>
  </body>
</html>
